<!DOCTYPE html>
<html>
<head>
  <title>ElifTech</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="shortcut icon" href="img/images.png">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="jumbotron">
    <h1>ElifTech Test Assignment</h1>
    <p>Here you can see information about the companies</p> 
</div>

<%= yield %>

</body>
</html>


</head>