<!DOCTYPE html>
<html>
<head>
  <title>ElifTech</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="jumbotron">
    <h1>ElifTech Test Assignment</h1>
    <p>Here you can see information about the companies</p> 
</div>

<%= yield %>

</body>
</html>


</head>